name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libtool pkg-config autoconf automake libffi-dev zlib1g-dev libssl-dev gettext

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade buildozer Cython==0.29.33

      - name: Build APK
        run: |
          # Použijeme parametr --profile, který často pomáhá stabilitě,
          # a vyhneme se interaktivnímu potvrzování licencí skrze env proměnnou
          export APP_ANDROID_ACCEPT_SDK_LICENSE=1
          buildozer -v android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Master-APK
          path: bin/*.apk
