name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libtool pkg-config autoconf automake libffi-dev zlib1g-dev libssl-dev gettext

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade buildozer Cython==0.29.33

      - name: Build APK
        run: |
          unset ANDROID_NDK_HOME
          unset ANDROID_NDK_ROOT
          # Zkusíme build, při výpadku sítě opakujeme
          for i in {1..3}; do buildozer -v android debug && break || sleep 30; done
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-Master-Final-APK
          # Tato část je teď důležitá - hledáme na více místech najednou
          path: |
            bin/*.apk
            .buildozer/android/platform/build-arm64-v8a/dists/iptv_master/build/outputs/apk/debug/*.apk
          if-no-files-found: error
