
name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y libtool pkg-config autoconf automake libffi-dev zlib1g-dev libssl-dev gettext

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          # Tady je ta změna: Cython 0.29.33 je kompatibilní s Kivy 2.2.1
          pip install --upgrade buildozer "Cython<3.0" python-for-android

      - name: Build APK
        run: |
          unset ANDROID_NDK_HOME
          unset ANDROID_NDK_ROOT
          rm -rf .buildozer/
          buildozer -v android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: IPTV-App-Final
          path: "**/*.apk"
          if-no-files-found: error
 
